@import "../../shared-scss/shared-scss.scss";

#mainContent {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#mainContent > section {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#mainContent > section:nth-child(even) {
    background: #F4EBD0;
    align-items: end; 
}

.welcomeBox {
    background-color: $base-cream;
    opacity: 1;
    height: 15%;
    width: 30%;
    min-width: 15em;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: $base-black;
        font-size: 1.5em;
        padding: 10px;
    }

    animation: welcomeDropDown 1.8s ease;
}

@keyframes welcomeDropDown {
    from {
        transform: translateY(-25px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

.footerBox {
    background-color: $base-black;
    height: 21px;
    min-width: 8em;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: auto;
    p {
        color: $base-cream;
        font-size: 1.0em;
        padding: 7px;
    }
}

.centeredButton {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 200px;
    margin-top: -75px;
    p {
        margin-top: 15px;
        color: $base-black;
    }

}

.toolsHeader {
    color: $base-black;
    text-align: center;
    font-size: 5em;
    margin-top: -40px;
}

.hidden {
    opacity: 0;
}

.shown {
    transition: 1.5s; 
    transition-delay: .2s;
    opacity: 1;
}

a {
    text-decoration-line: none;
}

.smiley-button {
    margin-top: 20px;
}

.racing-button {
    margin-top: 20px;
}

.ai-chat-button {
    margin-top: 20px;
}


