@import "../shared-scss/shared-scss.scss";

:host {
  display: block;
  width: 100vw;
  height: 100vh;
}

.game-container {
  width: 100%;
  height: 100%;
  display: block;
  background-color: $base-black;
  overflow: hidden;
  
  canvas {
    width: 100%;
    height: 100%;
  }
}